*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#2b010f ;
}


.card{
    width: 90%;
    max-width: 400px;
    margin: 150px auto;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;

}
.cover{
    height: 200px;
    background: #ececec;
}
.square{
    width: 80px;
    height: 80px;
    border-radius:2px ;
    margin-bottom:20px;
    background: #ececec;



}
.info{
    padding: 30px;

}
.line{
    height:30px 
    ;
    background: #ececec;
    border-radius: 2px;
    margin-bottom: 20px;
}
.cover, .square, .line{
    background-image:linear-gradient(120deg, #ececec 50%,#fafafa 60%,#fafafa 61%,#ececec 70%) ;
    background-size: 200%;
    background-position: 100% 0;
    animation:waves  2s linear infinite;

}
@keyframes waves{
    100%{
        background-position:-100% 0;
    }
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
.footer i {
    margin-right: 5px;
    margin-bottom: 20%;

}
.linkedin-wrapper {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
